<!-- Pulsanti per cambiare note -->
<div class="btn-group my-3" role="group">
    <button class="btn btn-secondary" (click)="changeNote('assets/notes/1-insiemi.md')">Insiemi</button>
    <button class="btn btn-secondary" (click)="changeNote('assets/notes/2-relazioni.md')">Relazioni</button>
    <button class="btn btn-secondary" (click)="changeNote('assets/notes/3-induzione.md')">Induzione</button>
    <button class="btn btn-secondary" (click)="changeNote('assets/notes/5-grafi.md')">Grafi</button>
</div>

<!-- Visualizzazione del contenuto HTML -->
<markdown
  katex
  [katexOptions]="katexOptions"
  [src]="currentNote">
</markdown>