<div class="card text-center mx-auto mt-5" style="width: 20rem;" *ngIf="flashcards.length > 0">
  <div class="card-body">
    <h5 class="card-title">{{ flashcards[currentIndex].term }}</h5>
    <p class="card-text" *ngIf="showDefinition">{{ flashcards[currentIndex].definition }}</p>
    <button class="btn btn-primary m-4" (click)="toggleDefinition()">
      {{ showDefinition ? "Nascondi Definizione" : "Mostra Definizione" }}
    </button>
    <button class="btn btn-secondary m-4" (click)="nextCard()">Prossima Flashcard</button>
  </div>
</div>